Repo_1/jas611_GettysburgAddress.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"
start = root
root = element root {manuscript}
manuscript = element manuscript {type | place | author| year | sentence+}
type = attribute type {"address"}
place = attribute place {"gettysburgh"} 
author = attribute author {"abraham Lincoln"}
year = attribute year {"1863"}
sentence = element sentence 






